<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" href="http://cdn.jsdelivr.net/webjars/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
</head>
<body>

<div class="container">
    <div th:fragment="header">
       <!-- <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/products}">Products List</a></li>
                        <li><a th:href="@{/products/add}">Create Product</a></li>
                    </ul>
                </div>
            </div>
        </nav> -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navigation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/fahrzeuge}">Fahrzeuge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/fahrzeuge/add}">Add Fahrzeug</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center flex-row">
                <div class="row">
                    <h2>Hotel Airport Service</h2>
                </div>
            </div>
            <div class="row text-center flex-row">
                <img src="../../static/images/car.jpg" width="30%"
                     th:src="@{/images/car.jpg}" />
            </div>
        </div>

    </div>
</div>

</body>
</html>