<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hotel Airport Service</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Welcome to the booking system</h1>
            <p>For organizing rides between hotel and airport proceed with the login in the left upper corner</p>
        </div>
        <div class="row text-center flex-row">
            <img src="../../static/images/car.jpg" width="30%"
                 th:src="@{/images/car.jpg}" />
        </div>
    </div>
</body>
</html>